ClienteWCF/Connected Services/ServiceReferenceUsuarios/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63497/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63497/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63497/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/aaacesa.Business.WCFUsuarios.AppEntity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_ObtenerListaUs_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaUs" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerListaUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaUsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarUsu_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsu" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarUsu_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IService_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="ObtenerListaUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ObtenerListaUs" message="tns:IService_ObtenerListaUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ObtenerListaUsResponse" message="tns:IService_ObtenerListaUs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarUsuario" message="tns:IService_AgregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarUsuarioResponse" message="tns:IService_AgregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ActualizarUsu" message="tns:IService_ActualizarUsu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ActualizarUsuResponse" message="tns:IService_ActualizarUsu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Eliminar" message="tns:IService_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EliminarResponse" message="tns:IService_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListaUs">
      <soap:operation soapAction="http://tempuri.org/IService/ObtenerListaUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsu">
      <soap:operation soapAction="http://tempuri.org/IService/ActualizarUsu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IService/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:63497/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>