ClienteWCF/Connected Services/ServiceReferenceUsuarios/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/aaacesa.Business.WCFUsuarios.AppEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/aaacesa.Business.WCFUsuarios.AppEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BE" nillable="true" type="tns:BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBE" nillable="true" type="tns:ArrayOfBE" />
  <xs:complexType name="BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Edad" type="xs:int" />
      <xs:element minOccurs="0" name="Materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_idu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BE" nillable="true" type="tns:BE" />
</xs:schema>